
body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    box-sizing: border-box;
    background-color: #f4f4f4;
}

/* Header */
.main-header {
    background-color: rgb(165, 135, 105) ;
    padding: 20px 0;
    color: white;
    text-align: center;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.main-header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.logo {
    font-size: 2rem;
    font-weight: bold;
}

.navbar a {
    text-decoration: none;
    color: white;
    margin: 0 15px;
    font-size: 1.1rem;
    padding: 5px 10px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.navbar a.active, .navbar a:hover {
    background-color: #E67E22;
}

/* Blog Section */
.blog {
    padding: 60px 20px;
    background-color: #fff;
    text-align: center;
}

.blog h2 {
    font-size: 2.5rem;
    margin-bottom: 30px;
    color: #2C3E50;
}

.blog-post {
    display: flex;
    flex-direction: row;
    margin-bottom: 40px;
    background-color:wheat;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.blog-post .blog-image {
    width: 20%;
    height: auto;
    object-fit: cover;
    border-radius: 8px 0 0 8px;
}

.post-content {
    padding: 20px;
    flex: 1;
}

.post-content h3 {
    font-size: 2rem;
    margin-bottom: 10px;
    color: #2C3E50;
}

.post-meta {
    font-size: 0.9rem;
    color: #7f8c8d;
    margin-bottom: 20px;
}

.post-meta span {
    font-weight: bold;
}

.post-content p {
    font-size: 1.1rem;
    line-height: 1.6;
    color: #7f8c8d;
    text-align: justify;
    margin-bottom: 20px;
}

.read-more {
    text-decoration: none;
    color: #E67E22;
    font-weight: bold;
}

/* Footer */
.footer {
    background-color: rgb(182, 163, 129);
    color: white;
    padding: 20px 0;
    text-align: center;
}

.footer .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.social-links a {
    text-decoration: none;
    color: white;
    margin: 0 10px;
    font-size: 1.2rem;
}

.social-links a:hover {
    color: #E67E22;
}
